<body>
    <div class="header1" id="top">
    <nav class="navbar navbar-expand-sm fixed-top affix-top" id="navbar1">
        <div class="container-fluid">
            <a class="navbar-brand font-weight-bold" href="#top">Nathan Lee</a>
            <button class="navbar-toggler ml-auto collapsed" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span> </span>
                <span> </span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link font-weight-bold" data-toggle="collapse" data-target=".navbar-collapse.show" href="#intro">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" data-toggle="collapse" data-target=".navbar-collapse.show" href="#projects">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" data-toggle="collapse" data-target=".navbar-collapse.show" href="#contacts">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
        <div id="outer_name" class="text-center container">
            <div id="inner_name">
                <h1>Nathan Lee</h1>
                <hr>
                <p class="headerintro">Full Stack Web Developer</p>
            </div>
        </div>
    </div>

    <div class="intro text-center container pt-5 pb-5" id="intro" >
        <img src="./assets/test_pusheen.jpg" class="rounded-circle" alt="img">
        <p class="p_intro1">Hi there my name is Nathan!</p>
        <hr>
        <p class="p_intro2">For the longest time I have ever been fascinated by computers and technology. As a little kid I would sneak the computer manuals, the motherboard instruction booklets, anything with technical infomation into his room and read it like a picture book. My very first experience with technology was an Apple Macintosh Plus. My uncle would proudly display the magical light grey box that chimed when it turned on. It was extremely fun to learn how to properly use a computer and with each passing day I wanted to learn more.
        <br>
        <br>
        Fast foward two decades and I have just recently graduated from a coding bootcamp called "Coding Dojo". Located in the heart of Silicon Valley, I was taught not just one set of technolgies but three: Python, MEAN and iOS Swift. Learning three technology stacks allows me not just write code but rather code from start to finish. With these tools, Coding Dojo and their team has given me the tools, skills, confidence and knowledge to become a full stack web developer. 
        </p>
        <hr>
        <div>
            <p>
                <a href="header.jpg" download>
                    <button>Resume</button>
                </a>
            </p>
            
            <p>
                <a class="github_icon" href="https://www.github.com/naslee2" target="_blank">
                    <i class="fa fa-github fa-4x" aria-hidden="true"></i>
                </a>
                <a class="linkedin_icon" href="https://www.linkedin.com/in/nathan-lee-74a353a2" target="_blank">
                    <i class="fa fa-linkedin-square fa-4x" aria-hidden="true"></i>
                </a>
            </p>
        </div>
    </div>

    <div class="portfolioProjects container-fluid pl-0 pr-0" id="projects">
        <div class="row no-gutters">
            <div class="portfolio_square col-lg-4 col-sm-6">

                <a href="#" class="portfolio-box" data-toggle="modal" data-target=".shareline-modal-lg">
                    <img src="./assets/1.jpg" class="img-container" alt="container">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="portfolio-box-caption-content-text">
                                text
                            </div>
                        </div>
                    </div>
                </a>

                <div class="modal fade shareline-modal-lg text-center" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Test Title</h4>
                            </div>
                            <div class="modal-body">
                                <p>Test title application </p>
                                <p><em>Tech</em></p>
                                <p>View code here:<a href="" target="_blank"><i class="fa fa-github fa-2x"></i></a> Launch Demo: <a href="" target="_blank"><i class="fa fa-picture-o fa-2x"></i></a></p>
                                <img src="./assets/1.jpg" class="img-responsive center-block" alt="">
                            </div>
                            <div class="modal-footer">
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
            <div class="portfolio_square col-lg-4 col-sm-6">

                    <a href="#" class="portfolio-box" data-toggle="modal" data-target=".shareline-modal-lg">
                        <img src="./assets/1.jpg" class="img-container" alt="container">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="portfolio-box-caption-content-text">
                                    text
                                </div>
                            </div>
                        </div>
                    </a>
    
                    <div class="modal fade shareline-modal-lg text-center" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Test Title</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Test title application </p>
                                    <p><em>Tech</em></p>
                                    <p>View code here:<a href="" target="_blank"><i class="fa fa-github fa-2x"></i></a> Launch Demo: <a href="" target="_blank"><i class="fa fa-picture-o fa-2x"></i></a></p>
                                    <img src="./assets/1.jpg" class="img-responsive center-block" alt="">
                                </div>
                                <div class="modal-footer">
                                </div>
                            </div>
                        </div>    
                    </div>
            </div>
            <div class="portfolio_square col-lg-4 col-sm-6">

                        <a href="#" class="portfolio-box" data-toggle="modal" data-target=".shareline-modal-lg">
                            <img src="./assets/1.jpg" class="img-container" alt="container">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="portfolio-box-caption-content-text">
                                        text
                                    </div>
                                </div>
                            </div>
                        </a>
        
                        <div class="modal fade shareline-modal-lg text-center" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Test Title</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Test title application </p>
                                        <p><em>Tech</em></p>
                                        <p>View code here:<a href="" target="_blank"><i class="fa fa-github fa-2x"></i></a> Launch Demo: <a href="" target="_blank"><i class="fa fa-picture-o fa-2x"></i></a></p>
                                        <img src="./assets/1.jpg" class="img-responsive center-block" alt="">
                                    </div>
                                    <div class="modal-footer">
                                    </div>
                                </div>
                            </div>    
                        </div>
            </div>
            <div class="portfolio_square col-lg-4 col-sm-6">

                    <a href="#" class="portfolio-box" data-toggle="modal" data-target=".shareline-modal-lg">
                        <img src="./assets/1.jpg" class="img-container" alt="container">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="portfolio-box-caption-content-text">
                                    text
                                </div>
                            </div>
                        </div>
                    </a>
    
                    <div class="modal fade shareline-modal-lg text-center" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Test Title</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Test title application </p>
                                    <p><em>Tech</em></p>
                                    <p>View code here:<a href="" target="_blank"><i class="fa fa-github fa-2x"></i></a> Launch Demo: <a href="" target="_blank"><i class="fa fa-picture-o fa-2x"></i></a></p>
                                    <img src="./assets/1.jpg" class="img-responsive center-block" alt="">
                                </div>
                                <div class="modal-footer">
                                </div>
                            </div>
                        </div>    
                    </div>
            </div>
            <div class="portfolio_square col-lg-4 col-sm-6">

                        <a href="#" class="portfolio-box" data-toggle="modal" data-target=".shareline-modal-lg">
                            <img src="./assets/1.jpg" class="img-container" alt="container">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="portfolio-box-caption-content-text">
                                        text
                                    </div>
                                </div>
                            </div>
                        </a>
        
                        <div class="modal fade shareline-modal-lg text-center" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Test Title</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Test title application </p>
                                        <p><em>Tech</em></p>
                                        <p>View code here:<a href="" target="_blank"><i class="fa fa-github fa-2x"></i></a> Launch Demo: <a href="" target="_blank"><i class="fa fa-picture-o fa-2x"></i></a></p>
                                        <img src="./assets/1.jpg" class="img-responsive center-block" alt="">
                                    </div>
                                    <div class="modal-footer">
                                    </div>
                                </div>
                            </div>    
                        </div>
            </div>
            <div class="portfolio_square col-lg-4 col-sm-6">
                            <a href="#" class="portfolio-box" data-toggle="modal" data-target=".shareline-modal-lg">
                                <img src="./assets/1.jpg" class="img-container" alt="container">
                                <div class="portfolio-box-caption">
                                    <div class="portfolio-box-caption-content">
                                        <div class="portfolio-box-caption-content-text">
                                            text
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <div class="modal fade shareline-modal-lg text-center" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Test Title</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Test title application </p>
                                            <p><em>Tech</em></p>
                                            <p>View code here:<a href="" target="_blank"><i class="fa fa-github fa-2x"></i></a> Launch Demo: <a href="" target="_blank"><i class="fa fa-picture-o fa-2x"></i></a></p>
                                            <img src="./assets/1.jpg" class="img-responsive center-block" alt="">
                                        </div>
                                        <div class="modal-footer">
                                        </div>
                                    </div>
                                </div>    
                            </div>
            </div>
        </div>
    </div>

    <div class="contacts" id="contacts">
        <div class="text-center container">
            <p class="p_contact1">Let's talk!</p>
            <hr>
            <p class="p_contact2 col-sm-12">If you wish to talk, please do so! If you need a team player, let me know! Send me an email, call my phone or send me a message on LinkedIn! Want to see what I have already? Check out my GitHub! I look forward to hearing from you!</p>
            <div class="row">
                <div class="col-sm-6">
                    <i class="fa fa-phone fa-4x" aria-hidden="true"></i>
                    <p>510-367-3581</p>
                </div>
                <div class="col-sm-6">
                        <i class="fa fa-envelope-o fa-4x" aria-hidden="true"></i>
                    <p><a class="contact_link" href="mailto:naslee2@gmail.com">naslee2@gmail.com</a></p>
                </div>
            </div>
        </div>
    </div>
</body>
